.widgets{
    flex: 0.35;   
}

.widgets__input
{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: var(--twitter-background);
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;

}

.widgets__input>input{
    border: none;
    outline-width: 0;
    background-color: var(--twitter-background);
    font-size: 14px;
    margin-left: 10px;
}


.widgets__input>.MuiSvgIcon-root{
    color: gray;
}

.widgets__container{
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: #f5f8fa;
}

.widgets__container{
    font-weight: 800;
    font-size: 18px;
}